// Default variable overrides
$container-max-widths: (
  lg: 975px,
  xl: 975px,
  xxl: 975px,
);

// Required
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
