$borderColor: #dbdbdb;

#header {
  height: 54px;
  background-color: #fff;
  border-bottom: 1px solid $borderColor;

  .headerWrap {
    position: fixed;
    top: 0;
    width: 100%;
    height: 54px;
    z-index: 3;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      height: 54px;

      .logo {
        width: 103px;
        min-width: 40px;
        margin-top: 7px;
        transition: opacity 0.1s ease-out;

        img {
          max-height: 100%;
          max-width: 100%;
          object-fit: contain;
        }

        a {
          text-decoration: none;

          &:visited {
            color: #00376b;
          }
        }
      }

      .search {
        height: 28px;
        width: 215px;
        min-width: 125px;
        position: relative;

        .fa-search {
          position: absolute;
          left: 40%;
          top: 0;
          bottom: 0;
          margin: auto 0;
          color: #a5a7aa;
          font-size: 12px;
        }

        input {
          width: 100%;
          height: 100%;
          appearance: none;
          background-color: #fafafa;
          border: 1px solid $borderColor;
          border-radius: 3px;
          color: #262626;
          font-size: 14px;
          text-align: center;
          outline: 0;
          padding: 3px 10px 3px 26px;
          z-index: 2;

          &::placeholder {
            color: #a5a7aa;
          }
        }
      }

      .icons {
        display: flex;
        justify-content: space-around;

        svg {
          width: 22px;
          height: 22px;
          margin-left: 22px;
        }
      }
    }
  }
}
